<div class="jumbotron">
    <center>
        <h1>Imma Slice You, Fool!</h1>
        <img src="http://media.kids-myshot.nationalgeographic.com/2012/01/4f0e020433a8b100_0351_large_medium.JPG" title="copyright Imma Slice You Fool, Inc" />
        <!--This is a ruby embed tag-->
        <br />
        <%=link_to "Get sliced up.", pizzas_path, class: "btn btn-default" %>
    </center>
    
</div>